<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for @position do |f| %>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
      <%= f.label :number_of_positions %><br />
      <%= f.number_field :number_of_positions %>
      <%= f.label :priority_level %><br />
      <%= f.number_field :priority_level %>
      <%= f.label :light_duty_friendly %><br />
      <%= f.check_box :light_duty_friendly %>
      <%= f.label :newbie_friendly %><br />
      <%= f.check_box :newbie_friendly %>
      <%= f.label :takes_extra %><br />
      <%= f.check_box :takes_extra %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
