<% id = DateTime.now.to_i %>
<div class="dates_unavailable" id="<%= id %>">
  <%= f.label :unavailable_start_date %><br />
  <%= f.date_select :unavailable_start_date, {:include_blank => true, :default => nil} %>
  <%= f.label :unavailable_end_date %><br />
  <%= f.date_select :unavailable_end_date, {:include_blank => true, :default => nil} %>
  <%= link_to "Remove", remove_dates_unavailable_path(id), :remote => true %>
</div>
