<% dates ||= [gen_id, DateTime.now.to_s, DateTime.now.to_s] %>
<div class="dates_unavailable" id="<%= dates[0] %>">

    <%= f.label :unavailable_start_date %><br />
    <%= f.date_select :unavailable_start_date, {:prefix => "#{dates[0]}", :default => Date.parse(dates[1])} %>
    <%= f.label :unavailable_end_date %><br />
    <%= f.date_select :unavailable_end_date, {:prefix => "#{dates[0]}", :default => Date.parse(dates[2])} %>

  <%= link_to "Remove", remove_dates_unavailable_path(dates[0]), :remote => true %>
</div>
