<%= form_for(team_member) do |f| %>
  <% if team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_member.errors.count, "error") %> prohibited this team_member from being saved:</h2>

      <ul>
      <% team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for @team_member do |f| %>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
      <%= f.label :employee_number %><br />
      <%= f.text_field :employee_number %><br />
      <%= f.label :date_of_hire %><br />
      <%= f.date_select :date_of_hire %>
      <%= link_to "Add Dates Unavailable", add_dates_unavailable_path, :remote => true %>
      <div id="dates"></div>
      <%= f.label :extra %><br />
      <%= f.check_box :extra %>
      <%= f.label :light_duty %><br />
      <%= f.check_box :light_duty %>
      <%= f.label :permanent_position %><br />
      <%= f.collection_select :permanent_position, Position.all, :id, :name %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
