<p id="notice"><%= notice %></p>

Name: <%= "#{@team_member.first_name} #{@team_member.last_name}"  %><br />
Employee Number: <%= "#{@team_member.employee_number}" %><br />

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %> |
<%= link_to 'Destroy', @team_member, method: :delete, data: { confirm: 'Are you sure?' } %>
