<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.collection_select :setup_ids, @setups, :id, :name %>
    <%= f.collection_select :roster_ids, @rosters, :id, :name %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.submit %>
  </div>
<% end %>
