<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
    <%= f.hidden_field :user_id, :value => @user.id %>

    <%= f.fields_for :sorts, schedule.sorts.build do |ff| %>
      <%= ff.label :sort_types %>
      <%= ff.date_select :start_date, { :discard_day => true, :discard_month => true, :discard_year => true } %>
      <%= ff.date_select :end_date, { :discard_day => true, :discard_month => true, :discard_year => true } %>
      <%= ff.collection_check_boxes :sort_type_ids, @sort_types, :id, :name %>
    <% end %>

    <%= f.submit %>
  </div>
<% end %>
