<p id="notice"><%= notice %></p>

  <% @date_group.each do |dates| %>
    <% @dates = dates %>

    <table>
      <% @sort_types.each do |sort_type| %>
        <% @sort_data = sort_data(sort_type.id) %>

        <tr>
          <td colspan="<%= columns %>"><h1><%= sort_type.name %></h1></td>
        </tr>

        <tr>
          <th>Date:</th>
          <%= raw @sort_data[:dates] %>
        </tr>

        <tr>
          <th>Start Time:</th>
          <%= raw @sort_data[:start_times] %>
        </tr>

        <tr>
          <th>Team Member:</th>
          <%= raw @sort_data[:position_headers] %>
        </tr>

        <% get_team_members(sort_type).each do |team_member| %>

          <tr>
            <td><%= team_member.full_name%></td>
            <% @position_data = position_data(sort_type.id, team_member.id) %>
            <%= raw @position_data[:names] %>
          </tr>

        <% end %>

      <% end %>
    </table>

  <% end %>



<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
