<p id="notice"><%= notice %></p>


<% @sort_types.each do |sort_type| %>
  <% sorts = @sorts.where(sort_type_id: sort_type.id) %>

  <h1><%= sort_type.name %></h1>
  <table>
    <thead>
      <tr>
        <% sorts.each do |sort| %>
            <th><%= sort.date.strftime("%a. %b %d") %></th>
            <th><%= sort.start_time.strftime("%H:%M") %></th>
        <% end %>
      </tr>
    </thead>
  </table>

  <table>
    <tbody>
      <tr>
        <% sorts.each do |sort| %>
          <% sort.responsibilities.each do |r| %>
              <td><%= r.team_member.try(:full_name) %></td>
              <td><%= r.position.try(:name) %></td>
          <% end %>
        <% end %>
      </tr>

    </tbody>
  </table>
<% end %>




<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
