<p id="notice"><%= notice %></p>

<table>
  <% @sort_types.each do |sort_type| %>

    <tr>
      <td colspan="15"><h1><%= sort_type.name %></h1></td>
    </tr>

    <tr>
      <th>Date:</th>
      <% @schedule.dates.each do |date| %>
        <td><%= date.strftime("%a. %b %d") %></td>
      <% end %>
    </tr>

    <tr>
      <th>Start Time:</th>
      <% @schedule.dates.each do |date| %>
        <% @sort = @sorts.where(sort_type_id: sort_type.id).find_by(date: date) %>
        <% unless @sort.nil? %>
          <td><%= @sort.start_time.strftime("%H:%M") %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <th>Team Member:</th>
      <% @schedule.dates.each do |date| %>
        <% @sort = @sorts.where(sort_type_id: sort_type.id).find_by(date: date) %>
        <% unless @sort.nil? %>
          <th><%= Position %></th>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>

    <% sort_type.roster.team_members.each do |team_member| %>
      <tr>
        <td><%= team_member.full_name%></td>
        <% @schedule.dates.each do |date| %>
          <% @sort = @sorts.where(sort_type_id: sort_type.id).find_by(date: date) %>
          <% unless @sort.nil? %>
            <% @r = @sort.responsibilities.find_by(team_member_id: team_member.id) %>
            <td><%= @r.try(:position).try(:name) %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  <% end %>
</table>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
